<!doctype html>
<html ng-app='app'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>

        <h1>WHAT'S NEW</h1>

        <div ng-controller="ProductListCtrl">

        	<ul class="products">
        	  <li ng-repeat="product in products | filter:query | orderBy:orderProp"
        	      class="thumbnail product-listing">

        	    <p>{[{product.name}]}</p>
        	    <img ng-src="{[{product.image.small}]}">
        	  </li>
        	</ul>

        </div>
    </body>
</html>