<!doctype html>
<html ng-app='app'>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
    <script src="js/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/products.css">
  </head>
  <body>

        <h1>WHAT'S NEW</h1>

        <div ng-controller="ProductListCtrl">
      		Search: <input ng-model="query">
      		Sort by:
      		<select ng-model="orderProp">
      		  <option value="name">Name \/</option>
      		  <option value="-name">Name /\</option>
      		  <option value="price">Price \/</option>
      		  <option value="-price">Price /\</option>      		  
      		</select>


        	<ul id="products" when-scrolled="loadMore()">
        	  <li ng-repeat="product in products | filter: query | orderBy:orderProp track by $index"
        	      class="thumbnail product-listing">

        	    <img ng-src="{[{product.image.small}]}">
        	    <p class="designer_name">{[{product.designer}]}</p>
        	    <p class="product_name">{[{product.name}]}</p>
        	    <p>{[{product.currency}]}{[{product.price}]}</p>

        	  </li>
        	</ul>

        </div>
    </body>
</html>